.section-3 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
}

.card-heading {
  color: rgb(136, 13, 155);
  padding: 1rem 0;
  font-weight: bold;
}

.section-x {
  width: 100%;
  position: relative;
  z-index: 104;

  background: rgb(36, 0, 35);
  background: linear-gradient(
    171deg,
    rgba(36, 0, 35, 0.47522759103641454) 0%,
    rgba(120, 46, 153, 1) 0%,
    rgba(147, 46, 153, 1) 100%
  ); // background: url('https://res.cloudinary.com/bshano/image/upload/v1535118081/Baymedia/dublin-airport.svg');
  // background-position: top right;
  // background-size: cover;
  // background-color: #b698e4;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a07bdf+0,ffffff+72&0.16+0,1+93 */
  //   background: -moz-linear-gradient(
  //     top,
  //     rgba(160, 123, 223, 0.16) 0%,
  //     rgba(255, 255, 255, 0.81) 72%,
  //     rgba(255, 255, 255, 1) 93%
  //   ); /* FF3.6-15 */
  //   background: -webkit-linear-gradient(
  //     top,
  //     rgba(160, 123, 223, 0.16) 0%,
  //     rgba(255, 255, 255, 0.81) 72%,
  //     rgba(255, 255, 255, 1) 93%
  //   ); /* Chrome10-25,Safari5.1-6 */
  //   background: linear-gradient(
  //     to bottom,
  //     rgba(160, 123, 223, 0.16) 0%,
  //     rgba(255, 255, 255, 0.81) 72%,
  //     rgba(255, 255, 255, 1) 93%
  //   ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29a07bdf', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.bigtext {
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  color: white;
  max-width: 58rem;
  margin: 0 auto;

  @media (min-width: 510px) {
    font-size: 1.3rem;
    line-height: 2.2rem;
    padding: 2rem;
  }
  @media (min-width: 960px) {
    font-size: 1.4rem;
    padding: 2rem 6rem;
  }

  &__underline {
    border: 3px solid #a07bdf;
    text-align: center;
    width: 16rem;
    height: 6px;
    margin: 0 auto;
    border-radius: 10px;
    font-family: sans-serif;
  }
}
