.background-open-banner-frame {
  background-image: linear-gradient(
    to left,
    #d9e5f3,
    #bcd3ed,
    #a0c0e8,
    #83aee2,
    #649cdc
  );
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 104;
  right: 0;
  width: 100%;
  text-align: justify;
}
.background-open-banner-inner {
  width: 100%;
  right: 0;
  position: static;
  height: 30rem;
  background-image: url('https://res.cloudinary.com/bshano/image/upload/o_75/v1540132607/Baymedia/people%20photos/irish-open-trans.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 44vw;
  /* position: static; */

  @media (max-width: 28rem) {
    height: 40rem;
  }
  @media (max-width: 58rem) {
    background-image: url('https://res.cloudinary.com/bshano/image/upload/o_25/v1540132607/Baymedia/people%20photos/irish-open-trans.png');
    background-size: cover;
  }
}

.banner-flags {
  position: absolute;
  /* background-color: rgba(97, 97, 255, 0.144); */
  max-width: 40rem;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.banner-flag-description {
  // background-color: rgba(255, 255, 255, 0.368);
}
