.cta-bar {
  background-color: #44444442;
  position: relative;
  z-index: 104;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;

  @media (max-width: 44rem) {
    // border: 1px solid green;
    font-size: 0.8rem;
  }
}
.cta-bar1 {
  background-color: transparent;
  position: relative;
  height: 0;
  z-index: 104;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  bottom: 12rem;
}

.people-bar {
  position: static;
  bottom: 20rem;
  z-index: 31;
  background-repeat: no-repeat;
}
.peoplepics {
  @media (max-width: 910px) {
    display: none;
  }
  position: relative;
  background-color: transparent;
  z-index: 30;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  // &1 {
  //   background-image: url('https://res.cloudinary.com/bshano/image/upload/f_auto/v1544202181/Baymedia/people%20photos/people-airport.png');
  // }
  // &2 {
  //   background-image: url('https://res.cloudinary.com/bshano/image/upload/c_scale,f_auto,w_300/v1543964841/Baymedia/people%20photos/lady_banner_summer.png');
  // }
  // &3 {
  //   @media (min-width: 520px) {
  //     display: block;
  //     background-image: url('https://res.cloudinary.com/bshano/image/upload/v1544202181/Baymedia/people%20photos/people-street-dancing.png');
  //   }
  // }
}
