
.client-item {
  border: 1px solid rgba(0, 0, 0, 0.082);
  background-color: white;
  flex-basis: 7rem;
  margin: 1rem;
  align-self: flex-end;
  height: 7rem;
  display: flex;
  padding: .5rem;
}

.client-item-image {
  /* border: 1px solid red; */
  align-self: center;
}