.section-3 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;

}

.card-heading {
  color: rgb(136, 13, 155);
  padding: 1rem 0;
  font-weight: bold;
}
